.intro
  position: relative
  display: flex
  width: 1200px
  max-width: 75%
  height: 100%
  flex-direction: column
  justify-content: center
  margin: 0 auto

  @media (max-width: 1180px)
    max-width: 100%

  &--banner
    position: relative
    height: 475px
    display: flex
    justify-content: center

    &::before
      content: ""
      position: absolute
      bottom: 20px
      left: -15px
      right: 0
      height: 2px
      background-color: $muted-gray

    h1
      position: relative
      font-size: 80px
      font-weight: 800
      line-height: 1
      z-index: 1

    h2
      position: relative
      font-size: 48px
      font-weight: 200
      line-height: 1.2
      z-index: 1

    button
      bottom: 80px
      padding: 5px 17px 5px 12px
      font-weight: 700
      border-radius: 0
      background-color: transparent
      // border: none
      border-style: solid
      transition: .2s ease-in-out
      display: flex
      align-items: center
      height: fit-content

      &:hover
        border-color: $highlight
        color: $highlight

        svg
          fill: $highlight

      &:focus
        outline: none

      svg
        position: relative
        left: 5px
        width: 15px
        fill: $black
        transition: .2s ease-in-out

    img
      position: absolute
      bottom: 21px
      right: -50px
      width: auto
      height: 100%

  &--options
    display: flex
    justify-content: space-between
    margin: 0
    padding: 0
    list-style: none

    & > a
      max-width: 300px
      text-decoration: none
      color: $muted-gray
      transition: color .2s ease-in-out

      &:hover
        color: $highlight

    h3
      font-size: 16px
      text-transform: uppercase

    p
      margin-bottom: 0

@media (max-width: 900px)

  .intro

    &--banner
      height: 350px

      h1
        font-size: 55px
      
      h2
        font-size: 55px

    &--options

      & > a
        margin-right: 30px

        &:last-child
          margin-right: 0

@media (max-width: 767px)

  .intro

    &--banner
      height: 350px
      margin-top: 63px

      h1
        font-size: 44px

      h2
        font-size: 44px


    &--options
      display: block

      & > a
        display: block
        max-width: 100%
        margin: 0 0 30px 0

        &:last-child
          margin-bottom: 0

@media (max-width: 600px)

  .intro

    &--banner
      height: 400px

      h1
        font-size: 48px
        margin-top: 100px
      
      h2
        font-size: 32px

      img
        display: none

@media (max-width: 600px) and (max-height: 844px)

  .intro

    &--banner
      padding-top: 60vh

      &::before,
      &::after
        display: none

      h1
        margin-top: 0
      
      h2
        margin-top: 0

    &--options
      display: none